<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
    <link th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">
            <form th:action="@{/api/category/create}" method="post">
                <input type="text" name="name"><br/>
                <input type="text" name="reqName">
                <input type="submit" value="Ok">
            </form>
        </div>
    </div>
</div>

</body>
</html>